= simple_form_for @group do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :couch_date, as: :string, input_html: {class: 'datepicker'}
  = f.input :user_ids, collection: @enabled_users, include_blank: false, label: 'Users', input_html: {multiple: true, class: 'select2'}
  %ul
    - @group.movies.each do |movie|
      %li
        = image_tag("#{@configuration.base_url}w154#{movie.details.poster_path}")
  = f.submit :submit