.row
  .col-md-12
    .box-title.form-group
      = link_to group.name, group_path(group)
  .col-md-6
    %p
      = group.description
    %h2
      = "Votes: #{group.total_votes}"
  .col-md-3
    .media.form-group
      .pull-left
        = image_tag "icon-cam.svg", class: "media-object"
      .media-body
        .media-heading
          = "#{group.movies.count} movies added"
    .row
      .col-md-10
        %ul.users-added-previews
          - group.movies.each do |movie|
            %li
              .avatar--small
                = image_tag "#{@configuration.base_url}w154#{movie.details.poster_path}", class: "media-object"

  .col-md-3
    .media.form-group
      .pull-left
        = image_tag "icon-user.svg", class: "media-object"
      .media-body
        .media-heading
          Friends Invited:
          = group.users.count
    .row
      .col-md-10
        %ul.movies-added-previews
          - group.users.each do |user|
            %li
              .avatar--small
                = image_tag user.facebook_image_url, class: "media-object"
