.movies-area
  - @popular.each_slice(4) do |movie_batch|
    .container.js-movies-container
      .row
        - movie_batch.each do |movie|
          .col-md-3.movie{ class: "js-movie-details-#{movie.id}" }
            = link_to movie_details_path(movie.id), remote: true do
              = image_tag( "#{@configuration.base_url}w300#{movie.poster_path}", alt: "#{movie.poster_path}" )
            %p.movie__title
              = movie.title
  .container
    .row
      - if current_user
        = simple_form_for @group, url: new_party_groups_path do |f|
          = hidden_field_tag('group[movies]', nil, id: 'groups_movie_ids')
          %div{ style: 'text-align: center' }
            = f.submit "Create Party", id: "create-party-btn", class: "btn btn-primary"
