.container
  %div
    %img.img-header{src: image_url("a.png")}

%div{style: "background-color: white;"}

  - @popular.each do |movie|
    %ul{ class: "js-movie-details-#{movie.id}" }
      %li
        = "Id: #{movie.id}"
      %li
        = "Title: #{movie.title}"
      %li
        = image_tag("#{@configuration.base_url}w154#{movie.poster_path}")
      %li
        = link_to "show", movie_details_path(movie.id), remote: true
    %hr