%nav.collapse.navbar-collapse{:role => "navigation"}
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li= link_to 'Sign out', signout_path
      %li= link_to 'Parties', groups_path
      %li
        %a.avatar
          = image_tag current_user.facebook_image_url
          %span
            = current_user.name
          %span.caret
    - else
      %li= link_to 'Sign-In with Facebook', signin_path

